/* ===== Base ==========================================================
 * Base
 * Unclassified HTML elements, h1-h6, UL, OL, the deepest layer we should
 * see the type selector.
 */

/*
 * Set the base viewport
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
 */

/*
 * Use box-sizing
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
.pure-g [class*="pure-u"] {
  /* Normalize font stack. */
  /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-size: 100%;
  /*
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga", "kern";
  font-kerning: normal;
   */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: always; */

  /* text size adjust
   * allows Web authors to control if and how
   * the text-inflating algorithm is applied to the textual content
   * of the element it is applied to.
   */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
/* text-size-adjust: 100%; */

  text-rendering: optimizelegibility;
}

body {
  background: #FDF9F0;
  color: #292929;
  padding: 1.5em;
}

a {
  color: #292929;
  text-decoration: underline;
}
a:hover {
  color: #0000cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-size: 1em;
}

img {
  max-width: 100%;
}

@media (max-width: 568px) {
  .pure-g {
    letter-spacing: 0;
  }
}
