/* ===== Components ====================================================
 * Components
 * Fully designed pieces of UI, Still only utilizes class selectors. More
 * expliciltly named (e.g. products-list).
 * This is where the sculptor adds the features.
 */

/* ===== c-Header ======================================================
 * The global site header
 * c-Header
 */
.c-Header {
  margin-bottom: 4.5em;
}


/* ===== c-GlobalNav ===================================================
 * The global navigation links
 */
.c-GlobalNav--Link:link {
  background-color: transparent;
  color: #292929;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}
.c-GlobalNav--Item:first-child .c-GlobalNav--Link:link {
  padding-left: 0; 
}
.c-GlobalNav--Link:hover,
.c-GlobalNav--Item.is-active .c-GlobalNav--Link {
  text-decoration: underline;
}
.c-GlobalNav--Link:hover {
  background-color: transparent;
}


/* ===== c-Footer ======================================================
 * Global site footer
 */
.c-Footer {
  margin: 1.5em auto;
  border-top: 1px solid rgba(61, 70, 77, 0.1);
}


/* ===== c-Meta ========================================================
 * Non-content styling
 */
.c-Meta {
  color: rgba(61, 70, 77, 0.6);
}

/* ===== c-License =====================================================
 * Copyright and ownership styles
 */
.c-License {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* ===== c-Logo ========================================================
 * Header logo and animation.
 */
.c-Logo--Char {
    fill: #000000;
}
.c-Logo--Char.is-animated {
  transform: translateX(-6em)
      translateY(-8.5em);
  animation-name: slide-into-place;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide-into-place {
  0% {
    transform: translateX(-6em)
      translateY(-8.5em);
    fill: #000000;
  }
  50% {
    transform: translateX(-3em)
      translateY(-8.5em);
  }
  85% {
    transform: translateX(-6em)
      translateY(-1em);
  }
  100% {
    transform: translateX(0)
      translateY(0);
    fill: #000000;
  }
}
