<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="initial-scale=1">
  {% if site.is_dev %}
  <link rel="stylesheet" href="/static/stylesheets/all.css">
  {% else %}
  <link rel="stylesheet" href="/static/stylesheets/all.min.6ae8d6a0.css">
  {% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="home" href="{{ site.url }}">
  {% if page.metaDescription %}
  <meta name="description" content="{{ page.metaDescription }}">
  {% else %}
  <meta name="description" content="{{ page.excerpt | strip_html }}">
  {% endif %}
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="/static/images/meta/icon-512x512.png">
  <meta property="og:image:height" content="512">
  <meta property="og:image:width" content="512">
  {% if page.metaOgType %}
  <meta property="og:type" content="{{ page.metaOgType }}">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}
  {% if page.metaDescription %}
  <meta property="og:description" content="{{ page.metaDescription }}">
  {% else %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:image" content="/static/images/meta/icon-512x512.png">
  <meta name="twitter:image:height" content="512">
  <meta name="twitter:image:width" content="512">
  {% if page.metaDescription %}
  <meta name="twitter:description" content="{{ page.metaDescription }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% endif %}
  <meta name="twitter:site" content="@visualassault">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/meta/icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/meta/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/meta/icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/meta/icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/meta/icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/meta/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/meta/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/meta/icon-180x180.png">
  <link rel="icon" sizes="16x16" type="image/png" href="/static/images/meta/icon-16x16.png">
  <link rel="icon" sizes="32x32" type="image/png" href="/static/images/meta/icon-32x32.png">
  <link rel="icon" sizes="60x60" type="images/png" href="/static/images/meta/icon-60x60.png">
  <link rel="icon" sizes="96x96" type="image/png" href="/static/images/meta/icon-96x96.png">
  <link rel="icon" sizes="192x192" type="image/png" href="/static/images/meta/icon-192x192.png">
</head>
<body>

<header class="o-Layout pure-g c-Header">
  <div class="pure-u-sm-1-4">
    <a class="c-GlobalNav--Link" href="/" title="Home">
      <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="display:none">
        <symbol id="square" viewbox="0 0 512 512">
            <path class="c-Logo--Char c-Logo--Char---A is-animated"
              d="M296.96,157.53h171.71L505,489H368l-1.55-53.26h-95.81L245.81,489H118.99L296.96,157.53z M364.34,354.94l0.39-124.88h-0.93l-55.92,124.88H364.34z"/>
            <path class="c-Logo--Char c-Logo--Char---V"
              d="M6,23h134.69l-8.29,258.94h0.93L237.88,23H364.7L200.16,354.47H28.91L6,23z"/>
        </symbol>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="c-Logo"
        width="64"
        height="64"
        viewBox="0 0 64 64">
        <use xlink:href="#square" x="0" y="0" />
      </svg>
    </a>
  </div>
  <div class="pure-u-sm-3-4">
    {% include nav.html %}
  </div>
</header>
