---
layout: page
title: Writing
displayTitle: Writing by visual assault
inNav: true
metaDescription: Words by visual assault
---
<ol>
{% for post in site.posts %}
  {% if post.hidden != true %}
  <li>
    {% if post.alternate %}
    <a href="{{ post.alternate }}" title="{{ post.title }}">
    {% else %}
    <a href="{{ post.url }}" title="{{ post.title }}">
    {% endif %}
      <span>{{ post.title }}</span>
    </a>
    <br>
    {% if post.metaDescription %}
    <span>{{ post.metaDescription }}</span>
    {% endif %}
    <br>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A %B %-d, %Y" }}</time>
  </li>
  {% endif %}
{% endfor %}
</ol>
