{% include header.html %}

<article class="o-Layout pure-g h-entry">
  <header class="pure-u-sm-1-4 c-Header">
    <h1 class="p-name">
    {% if page.displayTitle %}
        {{ page.displayTitle }}
    {% endif %}
    </h1>

    {% if page.date %}
    <time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%A %B %-d, %Y" }}</time>
    {% endif %}

    {% if page.author %}
    <br>
    by <span class="p-author">{{ page.author }}</span>
    {% endif %}
  </header>

  <div class="pure-u-sm-3-4 e-content">
    {{ content }}
  </div>

  {% if page.license %}
  <footer class="c-Meta c-License pure-g">
    {% if page.license == "cc-by-nc-sa" %}
    {% include cc-by-nc-sa.html %}
    {% elsif page.license == "cc-by-sa" %}
    {% include cc-by-sa.html %}
    {% elsif page.license == "cc-by" %}
    {% include cc-by.html %}
    {% endif %}
  </footer>
  {% endif %}

</article>

{% include footer.html %}
